ul{
    list-style-type: none;
    display: block;
}
#logoimg{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 18px;
}
#Vcode{
    display: flex;
    justify-content: space-around;
}
#mainHeader{
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: #ccc;;
}
li{
    padding: 5px;
    display: inline;
    text-decoration-thickness: 10px;
}
#Search{
    margin-top: 10px;
    border-radius: 10px;
}
button{
    background-color: #0078d4;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 5px;
    color: white;
}
li:hover{
    color: white;
    cursor: pointer;
}
